<!-- Code adapted from the full program at https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/
Retrieved 8/01/24
Variables, and specific code structures were adapted to fit this project, but the overall code and project structures belongs to the original source. -->

<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Group 60 CS 340 Final Project</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/styles.css">
    <script language="JavaScript"></script>
</head>

<!-- Nav bar links to all other pages -->
<body>
    <h1>{{{name}}}</h1>
    <nav>
        <ul>
            <li><a href="../index">Media</a></li>
            <li><a href="../customers">Customers</a></li>
            <li><a href="../copies">Copies</a></li>
            <li><a href="../types">Types</a></li>
            <li><a href="../creators">Creators</a></li>
        </ul>
    </nav>

    {{{body}}}

</body>
</html>