<!-- Code adapted from the full program at https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/
Retrieved 8/01/24
Variables, and specific code structures were adapted to fit this project, but the overall code and project structures belongs to the original source. -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Create a new creators table -->
<table id="creators-table">
    <thead>
        <tr>
            <th>Creator ID</th>
            <th>Creator Name</th>
        </tr>
    </thead>
<!-- Create a new row based on creators in the database -->
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.creatorID}}</td>
            <td>{{this.creatorName}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- /views/creators.hbs -->
<h2>Add a Creator</h2>
<p>To add a new creator, please enter the information below and click `Submit`.</p>
<form id="add-creator-form" method="POST" action="/add-creator-form">
    <label for="input-creatorName">Creator Name: </label>
    <input type="text" name="input-creatorName" id="input-creatorName-html" required>

    <input type="submit">
</form></div>

</body>
</html>